body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-judson: Judson;
  --font-inria-serif: "Inria Serif";
  --font-cormorant-upright: "Cormorant Upright";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-6xl: 25px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue-100: #2c2c68;
  --color-gainsboro-100: #e1e1e1;
  --color-gainsboro-200: #d9d9d9;
  --color-black: #000;
  --a: #00197e;
  --color-steelblue: #0f95ce;
  --color-red: #fa0000;
  --color-lightskyblue: #87cefa;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-3xs: 10px;
}
